<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmls:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	<title>Cursos</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.js"></link>
</head>
<body>

<div class="container">
		<div class="panel-heading" align="center">
			<strong>Cadastro de Cursos</strong>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" th:object="${curso}" th:action="@{/curso/salvarCurso}" method="POST" style="margin: 10px">
			<fieldset>
				<div class="form-group row">
							<label>Nome</label>
							<input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Nome do curso" maxlength="50"/>
							<label>Descrição</label>
							<input type="text" class="form-control input-sm" th:field="*{descricao}" autofocus="autofocus" placeholder="Descrição do curso" maxlength="100"/>
							<label>Preço</label>
							<input type="text" class="form-control input-sm" th:field="*{preco}" autofocus="autofocus" placeholder="Preço do curso" maxlength="10"/>
							<label>Categoria</label>
							<select class="custom-select" th:field="*{categorias}">
							<option value="">Selecione a Categoria </option>
							<option th:each="cat : ${categorias}" th:value="${cat.id}" th:text="${cat.nome}"></option>
												
							</select>
						</div>
					</div>
				
				</fieldset>	
			</div>
			<div align="center">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/curso/listarCursos}" class="btn btn-sm btn-default">Cancelar</a>		
				</div>
				</form>
			</div>
		</div>	
							
</body>
</html>